extends layout

block content
	h1.
		Mina Favoritrecept

	each recipe, i in recipes
		.recipe
			img(src = recipe['localImg'])
			h2= recipe['title']
			p Senast skrapad: #{recipe['date']}
			p Skrapad #{recipe['scraped']} gånger
			p= recipe['content']
			hr