extends layout

block content
	h1.
		Mina dessertrecept

	each recipe, i in recipes
		.recipe
			img(src = recipe['localImg'])
			h2= recipe['title']
			p= recipe['created']
			p= recipe['scraped']
			p= recipe['text']
			a(href = recipe['href']) Gå till recept
			hr